doctype html
html
  head
    title Planta
    script(src="/jquery.min.js")
    link(rel="stylesheet", href="/w3.css")
  body
    a(href="javascript:history.back()") Back
    h1="Planta:"
    p!=emd_data

          
